<div class="card" >
  <img [src]=heroe.img class="card-img-top" [alt]=heroe.nombre>
  <div class="card-body">
    <h5 class="card-title">{{heroe.nombre}}</h5>
    <p class="card-text">{{heroe.bio}}</p>
    <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small>

      </p>
  </div>
 <!--navegar a otra pagina con un boton-->
  <button class="btn btn-outline-primary btn-block" (click)="verHeroe()" type="button">Ver mas...</button>
 <!--navegar a otra pagina con etiqueta <a>
  <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver mas...</a>
 -->
</div>
